@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

html,
body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    height: 36px;
    margin: 0;
    line-height: 0.8;
}

.cor-principal {
    color: crimson;
    font-weight: 700;
}

.navbar-nav .nav-link {
    font-weight: 700;
}

.navbar-nav .btn-modal {
    font-weight: 700;
}

.home-review {
    margin-bottom: 40px;
}

.home-review h3 {
    font-weight: 700;
    padding-top: 40px;
}

section .container .col-lg-12 {
    background-color: #fff !important;
}

.carousel-control-prev span, .carousel-control-next span {
    color: crimson;
    font-size: 2.5em;
}

#carouselExampleIndicators {
    color: black;
    height: 210px;
}

#carouselExampleIndicators .carousel-indicators li {
    background-color: rgba(220, 20, 60, 0.3);
    cursor: pointer;
}

#carouselExampleIndicators .carousel-indicators .active {
    background-color: crimson;
}

#carouselExampleIndicators .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: crimson;
}

.carousel-caption {
    color: black;
    top: 0;
    padding: 60px 130px;
}

.home-food {
    margin-top: 20px;
}

.home-food img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.home-food h5 {
    font-weight: 700;
}

.home-about h3 {
    font-weight: 700;
    margin-top: 20px;
}

footer {
    color: #f9f8f0;
}

footer .container .col-lg-12 {
    background-color: maroon;
    padding: 60px;
}

footer h3 {
    font-weight: 900;
}

.social-media a {
    padding: 0 10px;
    color: #f9f8f0;
    text-decoration: none;
}

.social-media a:hover {
    color: grey;
}